
.Wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
}

.Content {
    height: 100%;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LogoImg {
    max-height: 50px;
}

.Option {
    display: flex;
    flex: 3;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    a {
        color: black;
        text-decoration: none;
        font-size: 1.6rem;
        height: 100%;
        line-height: calc(100% + 70px);

        &:hover {
            cursor: pointer;
        }
    }
}

.Search {
    height: 46px;
    width: 300px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    display: flex;
    position: relative;

    input {
        font-size: 1.6rem;
        color: black;
        background-color: transparent;
        padding: 14px 24px;
        flex: 1;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: rgba(22,24,35,0.12);
        width: 1px;
        height: 28px;
        top: 9px;
        right: 52px;
    }

}

.SearchBtn {
    height: 100%;
    background-color: transparent;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    svg {
        width: 52px;
        color: rgba(22,24,35,0.34);
    }

    &:hover {
        background-color: rgba(22,24,35,0.03);
        color: black;
        cursor: pointer;
    }
}

.Action {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: space-evenly;

    button {
        background-color: transparent;
        font-size: 1.8rem;
        width: 52px;
        &:hover {
            cursor: pointer;
        }
    }
}
