img {
    width: 10rem;
}

.Follows_Items {
    display: flex;
    margin-top: -23rem;
    justify-content: space-around;
    
}

.Follows {
    margin-left: 48rem;
    margin-top: 8rem;
    text-align: center;
    width: 60rem;
}