.Carts {
    margin-top: 25px;
    margin-bottom: 60px;
    width: 100%;
    .CartsTitleHold {
        display: flex;
        .CartsTitle {
            margin-right: 10px !important;
            margin: 0px 0 0;
            font-weight: 400;
            color: #333333;
            line-height: 20px;
        }
    }

    .CartsGridHeader{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        background-color: #fff;
        border-radius: 6px ;
        margin-bottom: 10px;

        .CartsCheckAll {
            background-color: transparent;
            .CartsHeader{
                flex-basis: 76%;
            }
        }

        
    }
    .CartsGridFooter{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        background-color: #fff;
        border-radius: 6px ;
        margin-bottom: 10px;
        align-items: center;

        .CartsCheckItem {
            display: flex;
            .CartsFooter {
                display: flex;
                .CardsFooterImage {
                    width: auto;
                    max-height: 119px;
                    object-fit: contain;
                }
    
            }
            .CartsFooterTitle {
                flex-basis: 60%;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .quality {
            .qualityHold {

                border: 1px solid #c1c1c1;
                border-radius: 4px;

                .qualityBtn {
                    cursor: pointer;
                    color: #646464;
                    background-color: #fff;
                    padding: 4px;
                }

                .qualityInput {
                    border: none !important;
                    width: 2em !important;
                    color: #0D0E0F;
                    font-weight: 700;
                    font-size: 1.2em;
                    height: 100%;
                    text-align: center;
                    padding: 8px;
                }
            }
        }

        .CartsFooterRemove {
            &:hover {
                color: rgb(201, 33, 39);
                cursor: pointer;
            }
        }
    }

}